{% extends "::layout.html.twig" %}


{% block title 'Accueil' %}



{% block header %}
    <h1>BIJOUR {{name|upper}}</h1>
{% endblock %}

{% block content %}

        <ul>
            {% for index, day in days %}
                {% if loop.first %}
                    <li>{{ index }} : {{ day }}</li>
                {% else %}
                    <li>{{ index|upper }} : {{ day|upper }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        <p>{{ html }}</p>
        <p>{{ html | replace({'n\'est pas': 'est'}) | raw }}</p>

        <p>Nous sommes le {{ date|date('d/m/Y') }}</p>
        <p>Il est {{ date|date('H:i:s') }}</p>

        <a href="{{ path('homepage-test') }}">Lien vers la page de test</a>

{% endblock %}