{% extends "::layout.html.twig" %}


{% block title 'Accueil' %}



{% block header %}
    <h1>Liste des tweets</h1>
{% endblock %}

{% block content %}

    {% for index, tweet in listTweets %}


            <div class="panel panel-default">
                <div class="panel-body">

                    <a href="{{ path('app_tweet_view', {'id': tweet.id}) }}">
                        ({{ tweet.createdAt|date("d/m/Y H:i:s") }}) {{ index }} : {{ tweet.message }}
                    </a>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p>
                            <a href="{{ path('app_tweet_add_to_favourites', {'idTweet': tweet.id}) }}" class="btn btn-success">Ajouter à mes favoris</a>
                        </p>
                    {% endif %}

                </div>
            </div>


    {% else %}
        <p>Aucun tweet</p>
    {% endfor %}


{% endblock %}