{% extends "::layout.html.twig" %}


{% block title 'Accueil' %}



{% block header %}
    <h1>Liste des tweets</h1>
{% endblock %}

{% block content %}

    {% for index, tweet in listTweets %}
        {% if loop.first %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{ path('app_tweet_view', {'id': tweet.id}) }}">
                        ({{ tweet.createdAt|date("d/m/Y H:i:s") }}) {{ index }} : {{ tweet.message }}
                    </a>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{{ path('app_tweet_view', {'id': tweet.id}) }}">
                        ({{ tweet.createdAt|date("d/m/Y H:i:s") }}) {{ index|upper }} : {{ tweet.message|upper }}
                    </a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <p>Aucun tweet</p>
    {% endfor %}


{% endblock %}